<!DOCTYPE html>
<html>
<head>
	<title>Register Form</title>
	<link rel="stylesheet" type="text/css" href="register2.css">
</head>
<body>
	<div id="registerform">
		<h5>Sign Up Now</h5>
		<form action="" method="POST">
			<input id="txtbox1" type="text", placeholder="First Name" value="" name="">
			<input id="txtbox1" type="text" placeholder="Last Name" value="" name="">
			<input id="txtbox" type="text" placeholder="Email" value="" name="">
			<input id="txtbox" type="password" placeholder="Password" value="" name="">

			<p>I agree to </p><a href="#">terms and conditions.</a>

			<input id="btn" type="button" value="Register">
			<a href="">Aready have an account ?</a>
			<a href="">Back to Home ?</a>
		</form>
		
	</div>

</body>
</html>